.main {
  background-color: rgba(224, 224, 224, 0.534);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category button {
  padding: 0 5px;
}

.main img {
  height: 100px;
}
