#color-palette {
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  height: 50px;
  width: 200px;
}

.color {
  display: inline-block;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin-left: -1px;
}

#title {
  text-align: center;
}

#pixel-board {
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.pixel {
  display: inline-block;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  background-color: white;
  margin: -3px -1px;
}

.line {
  text-align: center;
}

#options {
  text-align: center;
  margin: auto;
}
